.main {
  padding: 0 30px;
}

#item {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.btn {
  padding: 7px;
  width: 100%;
  border: 3px solid black;
  background-color: black;
  color: white;
  cursor: pointer;
}

.todos {
  padding-top: 20px;
}

.todo {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 10px;
  align-items: center;
  margin-bottom: 5px;
}

.update-btn {
  background: yellow;
  margin-right: 3px;
}

.delete-btn {
  background: red;
  color: white;
}

.todo-btn {
  border: 2px solid black;
  padding: 10px;
  cursor: pointer;
}